@tailwind base;
@tailwind components;
@tailwind utilities;


/* This is our custom wrapper class */
.md-editor-dark-theme .editor-toolbar a:hover {
  background: #3f3f46 !important; /* A visible dark gray from the zinc palette */
  border: 1px solid #52525b !important;
}

.md-editor-dark-theme .editor-toolbar a.active {
  background: #ea580c !important; /* Our theme's orange */
}